name: Build and Push OCI YAML Artifact

on:
  workflow_dispatch:
    inputs:
      cluster_name:
        description: 'Cluster Name (comes from redered folder: /rendered/<CLUSTER NAME>)'
        required: true
        default: 'my-cluster-1'
      registry:
        description: 'GCP Artifact Registry repo (e.g. <LOCATION>-docker.pkg.dev/<PROJECT>/<REPOSITORY>)'
        required: true
      wif_provider: 
        description: 'COPY FROM TF OUTPUTS - HARDCODE IT HERE AFTERWARDS (e.g. projects/<PROJECT ID>/locations/global/workloadIdentityPools/<POOL ID>/providers/<PROVIDER ID>)'
        required: true
      wif_audience: 
        description: 'COPY FROM TF OUTPUTS - HARDCODE IT HERE AFTERWARDS (e.g. https://iam.googleapis.com/projects/<PROJECT ID>/locations/global/workloadIdentityPools/<POOL ID>/providers/<PROVIDER ID>)'
        required: true

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ github.event.inputs.wif_provider }}
          service_account: 'atlantis-artifact-pusher@tf-atlantis-poc.iam.gserviceaccount.com'
          audience: ${{ github.event.inputs.wif_audience }}

      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Install ORAS
        run: |
          curl -LO https://github.com/oras-project/oras/releases/download/v1.1.0/oras_1.1.0_linux_amd64.tar.gz
          tar -xzf oras_1.1.0_linux_amd64.tar.gz
          sudo mv oras /usr/local/bin/

      - name: Authenticate ORAS to Artifact Registry
        run: |
          REGISTRY_HOST=$(echo "${{ github.event.inputs.registry }}" | cut -d'/' -f1)
          ACCESS_TOKEN=$(gcloud auth print-access-token)
          oras login "$REGISTRY_HOST" --username=oauth2accesstoken --password="$ACCESS_TOKEN"

      - name: Push YAML files as OCI artifact
        run: |
          # we must tar.gz: https://cloud.google.com/kubernetes-engine/enterprise/config-sync/docs/how-to/sync-oci-artifacts-from-artifact-registry#push-to-ar
          cd rendered/${{ github.event.inputs.cluster_name }}
          ls -la
          echo "Run tar.gz all yaml files in this folder"
          tar -czf acm-artifact.tar.gz *.yaml
          oras push ${{ github.event.inputs.registry }}/${{ github.event.inputs.cluster_name }}:latest acm-artifact.tar.gz
